{
  "users": [
    {
      "username": "admin",
      "password_hash": "$argon2id$v=19$m=19456,t=2,p=1$MjY4NGRlMWY5YzliZDUwNjBhOGJhYTJhZDM1OWViZTE$qjlHo3ALKgMXLw1bgRz/p7LGhqvC4RKrgxMuvgPNNfg",
      "acl": [
        {
          "topic": "#",
          "access": "readwrite"
        }
      ]
    },
    {
      "username": "sensor",
      "password_hash": "$argon2id$v=19$m=19456,t=2,p=1$OGI1ZWM3ZGY3MzE3YzFkNjJjYTQ2ZmQxZDQxNjFjZTM$ynDjPcANEe30mfdJLrzZKdWtclkC+v/SUcti/SYN/S0",
      "acl": [
        {
          "topic": "sensor/+",
          "access": "write"
        },
        {
          "topic": "alerts/#",
          "access": "read"
        }
      ]
    }
  ]
}
