{
  "users": [
    {
      "username": "admin",
      "password_hash": "$argon2id$v=19$m=65536,t=3,p=1$ZDhmMWVlOGMxMTZlOTAwYzJhZGIzMDBlYWJjZWJlZmY$r+HP8qLT3CpBzxqniOJShpDgZ/O95L8TaQGBQKB573o",
      "acl": [
        {
          "topic": "#",
          "access": "readwrite"
        }
      ]
    },
    {
      "username": "sensor",
      "password_hash": "$argon2id$v=19$m=65536,t=3,p=1$OTJjMzk4ZGI4MWVkOGY2YmQxZTkwZTEzNTJmZDNiNTg$qDifFTnyEciQ+xDk1HKKD3dInnUXupgBkWJNuGOQYkE",
      "acl": [
        {
          "topic": "sensor/+",
          "access": "write"
        },
        {
          "topic": "alerts/#",
          "access": "read"
        }
      ]
    }
  ]
}
